body {
  margin: 0px;
}

.viewer {
  overflow: auto;
}

.dock-layout > :not(.dock-fbox) .dock-panel.dock-style-notabs {
  border: none;
  background: #fafafd;
}

.dock-layout > :not(.dock-fbox) .dock-panel.dock-style-notabs .dock-bar {
  border-bottom: 1px solid #ddd;
  height: 37px;
}

.dock-layout > :not(.dock-fbox) .dock-panel.dock-style-notabs .dock-nav-list {
  display: none;
}

.dock-layout > :not(.dock-fbox) .dock-panel.dock-style-notabs .dock-extra-content {
  height: 37px;
}

.verticalTabs {
  width: 30px;
  height: 100%;
}

.verticalTabsL {
  position: absolute;
  height: 35px;
  transform-origin: 100% 0;
  line-height: 30px;
  transform: translate(-100%, 0) rotate(-90deg);
}

.verticalTabsL span {
  display: block;
  margin-right: 5px;
}

.verticalTabsR {
  position: absolute;
  line-height: 35px;
  transform-origin: 0% 100%;
  transform: rotate(90deg) translate(-30px, 0px);
}

.verticalTabsR span {
  display: block;
  margin-left: 10px !important;
}
