.MemViewRow {
  font-family: "Courier New", Courier, monospace;
  font-size: 8pt;
}

.MemViewAddress {
  margin-right: 4px;
  background-color: lightgray;
}

.MemViewByte {
  margin-right: 4px;
}

.MemViewChar {
  width: 8px;
  display: inline-block;
}

.MemViewHover {
  background-color: lightgreen;
}

.offsetButton {
  height: 15px !important;
  font-size: 8pt !important;
}

.Data0 {
  background-color: rgb(254, 202, 138);
}

.Data1 {
  background-color: rgb(255, 228, 195);
}

.Heap0 {
  background-color: #59e4f6;
}

.Heap1 {
  background-color: #baf7ff;
}

.byteBlack {
  color: black;
}

.byteGrey {
  color: lightgrey;
}
